rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /guru/{uid}/files/{file} {
      allow read: if isSignedIn()
      allow write: if isOwner(uid)
    }

    match /jadwal/{hari} {
      allow read, write: if getUserData().role == 'kurikulum' || getUserData().role == 'kepsek'
    }    

    match /users {
      allow list: if getUserData().role == 'supervisor'

      match /{uid} {
        allow read, update: if isOwner(uid)
        allow read: if getUserData().role == 'supervisor'
      }
    }

    // Functions

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid))
    }

    function isOwner(uid) {
      return request.auth.uid == uid
    }

    function isSignedIn() {
      return request.auth != null
    }
  }
}