rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{documents=**} {
      allow read: if getUserData().role == 'kepsek'
    }

    match /guru/{uid}/files/{file} {
      allow read: if isSignedIn()
      allow write: if isOwner(uid)
      allow update: if getUserData().role == 'supervisor'
    }

    match /jadwal/{hari} {
      allow read, write: if getUserData().role == 'kurikulum'
    }    

    match /users/{uid} {
      allow read: if getUserData().role == 'supervisor'
      allow read, update: if isOwner(uid)
    }

    // Functions

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data
    }

    function isOwner(uid) {
      return request.auth.uid == uid
    }

    function isSignedIn() {
      return request.auth != null
    }
  }
}